<p ng-show="httpError" class="has-error">{{ httpError }}</p>
<p><a ng-href="#!/requirement/add" class="btn btn-success">Add</a></p>
<table class="table table-striped table-bordered" ng-show="requirements">
	<thead>
		<th>Id</th>
		<th>date from</th>
		<th>date to</th>
		<th>Action</th>
	</thead>
	<tbody>
		<tr ng-repeat="item in requirements | orderBy : 'id' : true">
			<td width="100">{{ item.id }}</td>
			<td>{{ item.date_from | date : 'yyyy-MM-dd' }}</td>
			<td>{{ item.date_to | date : 'yyyy-MM-dd' }}</td>
			<td width="160">
				<a ng-href="#!/requirement/{{ item.id }}" class="btn btn-success">Edit</a>
			</td>
		</tr>
	</tbody>
</table>