<div ng-include="'template/menu.html'"></div>
<p ng-show="httpError" class="has-error">{{ httpError }}</p>
<table class="table table-striped table-bordered" ng-show="requirements">
	<thead>
		<th width="100">Id</th>
		<th>date from</th>
		<th>date to</th>
		<th width="160">Action</th>
	</thead>
	<tbody>
		<tr ng-repeat="item in requirements | orderBy : 'id' : true">
			<td>{{ item.id }}</td>
			<td>{{ item.date_from | date : 'yyyy-MM-dd' }}</td>
			<td>{{ item.date_to | date : 'yyyy-MM-dd' }}</td>
			<td>
				<a ng-href="#!/requirement/{{ item.id }}" class="btn btn-success">Edit</a>
				<button type="button" class="btn btn-danger" ng-click="delete(item)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>